# Ignore virtual environment directory
venv/
*.env

# Ignore Python bytecode files
__pycache__/
*.pyc
*.pyo

# Ignore IDE specific files (if using common IDEs)
.vscode/
.idea/

# Ignore OS-specific files (macOS and Windows)
.DS_Store
Thumbs.db

# Ignore pipenv and poetry files (if you're using them instead of venv)
Pipfile
Pipfile.lock
pyproject.toml
poetry.lock
